/* The Wrapper */
.form-get-involved {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .25rem;
}

/* The Container */
.form-outer-container {

}

/* Input text */
.form-get-involved .MuiInputBase-input {
}


/* Text Fields and Select*/
.form-get-involved .MuiOutlinedInput-root {
    border-radius: 8px;
}


/* Text Fields and Select*/
.form-get-involved .MuiOutlinedInput-input {
    background-color: var(--grey);
    color: var(--black);
    font-family: "mrs-eaves", serif;
}

.form-get-involved .MuiOutlinedInput-root.Mui-focused {
    background-color: var(--green);
    color: var(--black);
    font-family: "mrs-eaves", serif;
}


/* Focused Border Color */
.form-get-involved .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 2px solid var(--gold);
}


.form-get-involved .MuiTextField-root,
.form-get-involved .MuiFormControl-root {
    width: 100%;
}

.form-get-involved button {
    align-self: flex-start;
    background-color: var(--purple);
    border: 2px solid var(--gold);
}