.loginReg-form {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .25rem;
}

.loginReg-form .MuiTextField-root,
.loginReg-form .MuiFormControl-root {
    width: 100%;
}

.loginReg-form button {
    align-self: flex-start;
    background-color: var(--purple);
    border: 2px solid var(--gold) ;
}   


